@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --box-shdow: rgba(0,0,0,0.24) 0px 3px 8px;
    --background-color: rgb(13, 99, 228);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
}
h2{
    text-align: center;
    text-decoration: underline solid #393e46 3px;
    font-size: 20px;
    margin-bottom: 15px;
}
.outer-wrap{
    width: 100%;
    min-height: 100%;
    background-color: #F5F7FA;
    padding: 30px;
}

.inner-wrap{
    max-width: 1200px;
    margin: auto;
}

.First-section{
    margin: 30px auto;
    padding: 0px 20px;
}

.First-section .heading{
    font-size: 30px;
    color:black;
    font-size: 500;
    text-align: center;
}

.First-section .sub-heading{
    font-size: 17px;
    color:black;
    font-size: 500;
    text-align: center;
}

.Second-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:10px;
    margin:30px auto;
}

.Second-section .add-transaction, .stats{
    flex-grow: 1;
    box-shadow: var(--box-shdow);
    padding: 20px;
    border-radius: 5px;
    margin:10px;
}
.value-of-transaction{
    display: flex;
    flex-direction: column;
}

.value-of-transaction input{
    font-size: 15px;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    border:1px solid black;
}
.value-of-transaction input:focus{
    outline: none;
}

.value-of-transaction input[type="submit"]{
    background-color: var(--background-color);
    color:white;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    padding: 7px 15px;
    box-shadow: var(--box-shdow);
    border:1px solid var(--background-color)
}

.value-of-transaction input[type="submit"]:hover{
    background-color:rgb(22, 108, 236) ;
}
.stats p{
    background-color: lightblue;
    margin:20px 10px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 18px;
    border-radius: 2px;
    text-align: center;
}

.stats .balance{
    background-color: #fff2dd92;
    border-right: 10px solid #f6c065;
}

.stats .income{
    background-color: #e4ffdd92;
    border-right: 10px solid #0acc0a;
}

.stats .expense{
    background-color: #ffeef0bb;
    border-right: 10px solid #EB596E;
}

.stats p span{
    font-size: 18px;
}
.trasaction-history{
    margin-top: 40px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30px 0px;
    box-shadow: var(--box-shdow);
}

.trasaction-history .record{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    margin:20px;
}

.record div{
    flex-grow: 1;
    padding: 10px;
}

.record div li{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 10px;
    margin: 10px 0px;
    min-width: 250px;
    box-shadow: var(--box-shdow);
    /* border-radius: px; */
}
.record .income li{
    border-left: 10px solid #2ECC71;
}

.record .expense li{
    border-left: 10px solid #DF5E5E;
}

.record li p:first-child{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.record span{
    font-size: 18px;
}
.record i.delete{
    margin-left: 15px;
    color:#082032;
    cursor: pointer;
    /* color:red; */
    font-size: 19px;
}

.record i.delete:hover{
    color: #B42B51;
}

.record span#time{
    color:#717171;
    font-size: 12px;
}
.record .income #value{
    color:darkgreen;
    font-weight: 500;
}


.record .expense #value{
    color:darkred;
    font-weight: 500;
}
